<!-- Apply into ~/.config/supertuxkart/config-0.10/config.xml
     or Flatpak: ~/.var/app/net.supertuxkart.SuperTuxKart/config/supertuxkart/config-0.10/config.xml
     TOUCH_STK builds also force these after load. -->
<Multitouch
    multitouch_active="2"
    multitouch_draw_gui="true"
    multitouch_inverted="false"
    multitouch_auto_acceleration="true"
    multitouch_controls="1"
    multitouch_deadzone="0.100000"
    multitouch_sensitivity_x="0.200000"
    multitouch_sensitivity_y="0.650000"
    multitouch_tilt_factor="4.000000"
    multitouch_scale="1.150000"
    screen_keyboard_status="1"
>
</Multitouch>
